[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-logging-base = {editable = true, git = "https://github.com/praecipula/python_logging_base"}

[dev-packages]

[requires]
python_version = "3.10"
